body {
  /*font: 10px sans-serif;*/
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
   padding: 5px 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#textareas {
    display: none;
}

#container {
    text-align: center;
}

#status {
    display: inline-block;
    vertical-align: top;
    width: 260px;
}

#info, #videos {
    display: inline-block;
    text-align: left;
}

#stats {
    display: inline-block;
}

#eating, #feed-now, #feedmode, #feedmode-label {
    display: block;
    text-align: center;
    width: 100%;
}

#feed-now {
    height: 36px;
}
#info {
    padding-bottom: 40px;
}
#videos {
    position: relative;
    transform: rotate(90deg);
}
#videos:after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.5);
}